body {
    background-image:url("../img/stars.gif");
}
.topnav {
    overflow: hidden;
    background-color: #29083d;
}
.topnav a{
    float: left;
    color: #d5a1e8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color:rgb(230, 133, 232);
    color: black;
}
.topnav a.active {
color: rgb(235, 25, 221);
}
.center {
    display: block;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
.paragraph {
    color: rgb(241, 116, 250);
    text-align: center;
  }
  a:link {
    color: rgb(251, 251, 251);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(130, 122, 248);
    background-color: transparent;
    text-decoration: none;
  }
  .figure{
    display: block;
    position:relative;
  }
  /* .image {
    position: relative; 
  }
  .center:hover:after {
    position: absolute;
    content: attr(title);
    display: inline-block;
    left: 0px;
    top: -10px;
    font-size:10pt;
    padding: 0px;
    color: rgb(226, 163, 247);
} */